In [1]:
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
import pandas as pd

Using TensorFlow backend.

In [15]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
            n_vars = 1 if type(data) is list else data.shape[1]
            df = DataFrame(data)
            header=df.columns.tolist()
            cols, names = list(), list()
            # input sequence (t-n, ... t-1)
            for i in range(n_in, 0, -1):
                cols.append(df.shift(i))
                names+=[f'{header[j]}(t-1)' for j in range(n_vars)]
            # forecast sequence (t, t+1, ... t+n)
            for i in range(0, n_out):
                cols.append(df.shift(-i))
                if i == 0:
                    names += [('%s(t)' % (df.columns[j])) for j in range(n_vars)]
                else:
                    names += [('%s(t+%d)' % (df.columns[j], i)) for j in range(n_vars)]
            # put it all together
            agg = concat(cols, axis=1)
            agg.columns = names
            # drop rows with NaN values
            if dropnan:
                agg.dropna(inplace=True)
            return agg

In [3]:
data=pd.read_excel('../Data/Model_Data_Rev1.xlsx')
data.dropna(inplace=True, how='any')
data.set_index(['Date'], inplace=True)
data=data[['Offshore_Utilization_Rate', 'Active_Rig_Count',
       
       'Land_Rig_Active_Count', 'Crude_Price_2010_USD',
       'Adjusted_Nat_Gas_Price_2010', 'World_Oil_Cunsump',
       'World_Oil_Production']]

In [4]:
values = data.values

In [16]:
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)

In [17]:
reframed.head(5)

,0(t-1),1(t-1),2(t-1),3(t-1),4(t-1),5(t-1),6(t-1),0(t),1(t),2(t),3(t),4(t),5(t),6(t)
1,0.786283,0.872449,0.889263,0.391202,0.238788,0.000000,0.000000,0.777806,0.897230,0.917341,0.329032,0.225137,0.046612,0.000000
2,0.777806,0.897230,0.917341,0.329032,0.225137,0.046612,0.000000,0.703314,0.852405,0.875169,0.256137,0.223890,0.046612,0.057051
3,0.703314,0.852405,0.875169,0.256137,0.223890,0.046612,0.057051,0.595941,0.716837,0.738944,0.131881,0.221512,0.046612,0.057051
4,0.595941,0.716837,0.738944,0.131881,0.221512,0.046612,0.057051,0.423581,0.555758,0.581047,0.085966,0.208292,0.046612,0.057051
5,0.423581,0.555758,0.581047,0.085966,0.208292,0.046612,0.057051,0.282815,0.360058,0.381940,0.090574,0.200407,0.046612,0.057051

In [ ]:
data.columns[0]

In [ ]:
dgg = DataFrame(data)

In [ ]:
dgg.columns.tolist()[0]

In [ ]:
header=dgg.columns.tolist()
xxnames = list()
            # input sequence (t-n, ... t-1)
for i in range(1, 0, -1):
    xxnames+=[('%s(t-%d)' % (header[j], i)) for j in range(7)]

In [ ]:
xxnames